<div class="modal fade" id="productModal" tabindex="-1">

  <div class="modal-dialog modal-xl modal-dialog-scrollable">

    <div class="modal-content shadow">

      <!-- HEADER -->

      <div class="modal-header bg-light">

        <h5 class="modal-title fw-bold">

          {{ formMode === 'add' ? 'Add Product' : 'Edit Product' }}

        </h5>

        <button type="button" class="btn-close" (click)="closeModal()"></button>

      </div>


      <!-- BODY -->

      <div class="modal-body">

        <form [formGroup]="productForm" (ngSubmit)="submit()">

          <div class="row g-4">

            <!-- PRODUCT NAME -->

            <div class="col-md-6">

              <label class="form-label fw-semibold">
                Product Name *
              </label>

              <input type="text" class="form-control" formControlName="name" (input)="updateSlug($event)" />

            </div>


            <!-- SLUG -->

            <div class="col-md-6">

              <label class="form-label fw-semibold">
                Slug
              </label>

              <input type="text" class="form-control" formControlName="slug" readonly />

            </div>


            <!-- CATEGORY -->

            <div class="col-md-6">

              <label class="form-label fw-semibold">
                Category *
              </label>

              <ng-select [items]="categories" bindLabel="name" bindValue="_id" formControlName="categoryId"
                placeholder="Search category" [searchable]="true" (search)="onSearch($event)">
              </ng-select>

            </div>


            <!-- IMAGE URL -->

            <div class="col-md-6">

              <label class="form-label fw-semibold">
                Image URL
              </label>

              <input type="text" class="form-control" formControlName="imageUrl" />

            </div>


            <!-- IMAGE PREVIEW -->

            <div class="col-12" *ngIf="previewImage">

              <label class="form-label fw-semibold">
                Preview
              </label>

              <div class="border rounded p-3 text-center bg-light">

                <img [src]="previewImage" class="img-fluid rounded" style="max-height:180px" />

              </div>

            </div>


            <!-- DESCRIPTION -->

            <div class="col-12">

              <label class="form-label fw-semibold">
                Description
              </label>

              <textarea rows="3" class="form-control" formControlName="description">
              </textarea>

            </div>


            <!-- VARIANTS -->

            <div class="col-12">
              <label class="form-label fw-semibold">
                Variants *
              </label>

              <div class="variant-grid">

                <div class="variant-item" *ngFor="let size of sizes" (click)="toggleVariant(size.id)"
                  [class.active]="productForm.get('varients')?.value?.includes(size.id)">

                  <input type="checkbox" [checked]="productForm.get('varients')?.value?.includes(size.id)" readonly />

                  <span>{{ size.name }}</span>

                </div>

              </div>
            </div>


            <!-- FLAGS -->

            <div class="col-12">

              <label class="form-label fw-semibold">
                Product Settings
              </label>

              <div class="row mt-2">

                <div class="col-md-4">

                  <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" formControlName="isVeg" />

                    <label class="form-check-label">
                      Vegetarian
                    </label>

                  </div>

                </div>


                <div class="col-md-4">

                  <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" formControlName="isActive" />

                    <label class="form-check-label">
                      Active
                    </label>

                  </div>

                </div>


                <div class="col-md-4">

                  <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" formControlName="isOnlineVisible" />

                    <label class="form-check-label">
                      Online Visible
                    </label>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </form>

      </div>


      <!-- FOOTER -->

      <div class="modal-footer">

        <button class="btn btn-outline-secondary" (click)="closeModal()">
          Cancel
        </button>

        <button class="btn btn-primary px-4" (click)="submit()" [disabled]="productForm.invalid">
          {{ formMode === 'add' ? 'Add Product' : 'Update Product' }}
        </button>

      </div>

    </div>

  </div>

</div>